body {
    margin: 0;
    padding: 0;

}

.container {
    width: 1300px;
    margin: auto;
}

.header {
    box-shadow: 0px 1px 20px -14px black;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-logo-left {
    display: flex;
    align-items: center;
}

.header-logo-left img {
    height: 40px;
    width: 86.04px;
    margin: 10px 0px;
}

.header-logo-left>h3 {
    margin: 0px 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;

}

.header-logo-left .logo-g {
    color: #FF42A5;
}

.header-menu-right {
    justify-content: right;
}

.header-menu-right {}

.header-menu-right>ul {
    display: flex;
    align-items: center;

}

.header-menu-right>ul li {
    list-style: none;
    margin: 0px;
    padding: 0px 14px;

}

.header-menu-right>ul li a {
    text-decoration: none;
    color: #3C354F;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.header-menu-right>ul li>button {
    width: 250px;
    height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    
}
.header-menu-right>ul li>button:hover{
    
}


.header-menu-right>ul li>button>i {
    padding-left: 8px;
}
.header-menu-right>ul li>button>i:hover{
    cursor: pointer;
    color: red;
}
.main-main-body {
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: left;
}

.main-body {
    display: flex;
    justify-content: space-between;


}

.main-body-left {}

.main-body-left h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    margin: 130px 0px 0px 0px;
}

.main-body-left h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 95px;
    margin: 20px 0px 20px -2px;
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-body-left p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #534C64;
    font-size: 20px;
}

.main-body-left p>img {
    padding-right: 13px;
}

.main-body-left p .main-body-icon-1 {
    padding-right: 15px;
    color: #FF42A5;
}

.main-body-left p .main-body-icon-2 {
    padding-right: 7px;
}


.main-body-left-icon-1 {
    display: flex;
    align-items: center;
}

.main-body-right {}


.main-body-right-img {}

.main-body-right-img img {}


.button-signin-rogue {
    margin-top: 34px;

}

.button-signin-rogue>button {
    padding: 0px 42px;
    font-size: 20px;
    height: 60px;
    border: none;
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    letter-spacing: 1px;

}

.button-signin-rogue-btn-1 {
    background-color: #FF42A5;
}

.button-signin-rogue-btn-2 {
    background-color: #4EC5F7;

}
.button-signin-rogue-btn-1:hover {
    background-color: #fd0083;
    cursor: pointer;
}

.button-signin-rogue-btn-2:hover {
    background-color: #00b3ff;
    cursor: pointer;

}

.first-section{
    background-color: #FFF9FC;


}

.first-section-main-class{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.first-section-left{
    

    
}

.first-section-right{
    text-align: right;
    
}

.first-section-right-document{

}

.first-section-right-document h2{
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    margin-bottom: 10px;
}


    
.first-section-right-document p{  
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #3c354fdf;
}


    
.first-section-right-document > button{
    padding: 0px 35px;
    font-size: 20px;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    letter-spacing: 1px;
    background-color: #F948B2 ;
    margin: 14px 0px;
}
.first-section-right-document > button:hover{

    background-color: #ec1e9a;
    cursor: pointer;

}
.first-section-right-document > h3{

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    color: #232324bc;


}

.second-section {
    margin-top: 62px;

}

.second-section >h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
    

}

.second-section .second-section-header-span{
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.second-section >p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 52px;
}

.second-section-lower-template{
    display: grid;
    grid-template-columns:auto auto auto auto;
    gap: 30px;
    justify-content: space-around;
}

.second-section-lower-template-item {

}



.second-section-lower-template-item img{
    


}

.second-section-lower-template-item img:hover{

    cursor: pointer;

}

.second-section-lower-template-item p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000000ed;
}


.second-section-lower-template-item-img{
    
    position: relative;
    border-radius: 16px;
    
}

.second-section-lower-template-item-img:hover{
    
    background-color: rgba(0, 0, 0, 0.61);
    position: relative;
    border-radius: 16px;
    cursor: pointer;
    
    
}
.second-section-lower-template-item-img > i{
    position: absolute;
    z-index: -4;
    top: 41%;
    left: 40%;
    font-size: 80px;
    color: white;
    
}
.second-section-lower-template-item-img:hover > i{
    
    z-index: -0;
}
.second-section-lower-template-item-img > i>label{
    position: absolute;
    z-index: 0;
    top: 112%;
    left: -3%;
    font-size: 11px;
    color: white;
    word-spacing: 4px;
}

.second-section-lower-template-item-img > img{

    position: relative;
    z-index: -2;

}





.second-section-lower-template-item-2 {

}



.second-section-lower-template-item-2 img{
    


}

.second-section-lower-template-item-2 img:hover{

    cursor: pointer;

}

.second-section-lower-template-item-2 p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000000ed;
}


.second-section-lower-template-item-img-2{
    
    position: relative;
    border-radius: 16px;
    
}

.second-section-lower-template-item-img-2:hover{
    
    background-color: rgba(0, 0, 0, 0.61);
    position: relative;
    border-radius: 16px;
    cursor: pointer;
    
    
}
.second-section-lower-template-item-img-2 > i{
    position: absolute;
    z-index: -4;
    top: 41%;
    left: 40%;
    font-size: 80px;
    color: white;
    
}
.second-section-lower-template-item-img-2:hover > i{
    
    z-index: -0;
}
.second-section-lower-template-item-img-2 > i>label{
    position: absolute;
    z-index: 0;
    top: 112%;
    left: -3%;
    font-size: 11px;
    color: white;
    word-spacing: 4px;
}

.second-section-lower-template-item-img-2 > img{

    position: relative;
    z-index: -2;

}







.second-section-lower-template-item-1 {

}



.second-section-lower-template-item-1 img{
    


}

.second-section-lower-template-item-1 img:hover{

    cursor: pointer;

}

.second-section-lower-template-item-1 p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000000ed;
}


.second-section-lower-template-item-img-1{
    
    position: relative;
    border-radius: 16px;
    
}

.second-section-lower-template-item-img-1:hover{
    
    background-color: rgba(0, 0, 0, 0.61);
    position: relative;
    border-radius: 16px;
    cursor: pointer;
    
    
}
.second-section-lower-template-item-img-1 > i{
    position: absolute;
    z-index: -4;
    top: 41%;
    left: 40%;
    font-size: 80px;
    color: white;
    
}
.second-section-lower-template-item-img-1:hover > i{
    
    z-index: -0;
}
.second-section-lower-template-item-img-1 > i>label{
    position: absolute;
    z-index: 0;
    top: 112%;
    left: -3%;
    font-size: 11px;
    color: white;
    word-spacing: 4px;
}

.second-section-lower-template-item-img-1 > img{

    position: relative;
    z-index: -2;

}








.second-section-lower-template-item-4 {

}



.second-section-lower-template-item-4 img{
    


}

.second-section-lower-template-item-4 img:hover{

    cursor: pointer;

}

.second-section-lower-template-item-4 p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000000ed;
}


.second-section-lower-template-item-img-4{
    
    position: relative;
    border-radius: 16px;
    
}

.second-section-lower-template-item-img-4:hover{
    
    background-color: rgba(0, 0, 0, 0.61);
    position: relative;
    border-radius: 16px;
    cursor: pointer;
    
    
}
.second-section-lower-template-item-img-4 > i{
    position: absolute;
    z-index: -4;
    top: 41%;
    left: 40%;
    font-size: 80px;
    color: white;
    
}
.second-section-lower-template-item-img-4:hover > i{
    
    z-index: -0;
}
.second-section-lower-template-item-img-4 > i>label{
    position: absolute;
    z-index: 0;
    top: 112%;
    left: -3%;
    font-size: 11px;
    color: white;
    word-spacing: 4px;
}

.second-section-lower-template-item-img-4 > img{

    position: relative;
    z-index: -2;

}

.third-section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}
.third-section-left{
    text-align: right;
    width: 40%;
    margin-top: 142px;

}
.third-section-left .third-section-left-first-h1{
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    margin: 0px;

}

.third-section-left .third-section-left-second-h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    margin: 0px;
    color: #000000dd;

}

.third-section-left .third-section-left-third-h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    margin: 0px;
    color: #000000dc;
}

.third-section-left > p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-top: 20px;
    color: #272628d2;

}


.third-section-right{
    position: relative;
}

.third-section-right-img-2{
    position: absolute;
    top: 66%;
    left: -22%;
}

.third-section-right-img-2 img{
    width: 250px;
}


.fourth-section{
    display: flex;
    margin-top: 160px;
}

.fourth-section-left{
    position: relative;
}

.fourth-section-left-img-1{
    
}
.fourth-section-left-img-1 img{

   

}

.fourth-section-left-img-2{
    position: absolute;
    top: 66%;
    left: 82%;
}

.fourth-section-left-img-2 img{
    width: 250px;
}

.fourth-section-right{
    margin-left: 160px;
    margin-top: 142px;
}

.fourth-section-right-first-h3{
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    margin: 0px;
}

.fourth-section-right-second-h3{
    
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    margin: 0px;
    color: #272628f2;
}
.fourth-section-right-second-h3 > span{
    background: -webkit-linear-gradient(#bb9cfffa, #4e00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fourth-section-right-third-h3{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    margin: 0px;
    color: #272628f1;
}
.fourth-section-right p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #272628e3;
}

.fifth-section{
    background-image: url("../images/Rectangle\ 111.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 180px;
    
    height: 550px;
}

.fifth-section-main{
    display: flex;
    justify-content: space-between;
}

.fifth-section-main .fifth-section-left{
    width: 50%;
}
.fifth-section-main .fifth-section-left h3{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 48px;
    margin: 50px 0px 0px 0px;
}

.fifth-section-main .fifth-section-left p{
    font-family: "Roboto", sans-serif;
    font-weight: 250;
    font-style: normal;
    color: rgba(255, 255, 255, 0.934);
    font-size: 18px;
}
.fifth-section-main .fifth-section-left table{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgba(255, 255, 255, 0.964);
    font-size: 18px;
}
.fifth-section-main .fifth-section-left > table > tbody{
    
    
}
.fifth-section-main .fifth-section-left > table > tbody tr{
    padding-bottom: 22px;
    
    
    
}

.fifth-section-main .fifth-section-left > table > tbody tr th{
    
    text-align: start;
    padding-right: 140px;
    padding-bottom: 6px;
}
.fifth-section-main .fifth-section-left > table > tbody tr td{
    
    text-align: end;
    
}




.fifth-section-right{

    
}

.fifth-section-right img{
    width: 600px;

}

.fifth-section-main .fifth-section-left button{
    padding: 0px 42px;
    font-size: 20px;
    height: 60px;
    border: none;
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #F948B2;
    letter-spacing: 1px;
    background-color: white;
    margin: 32px 0px;
}
